@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
}

.app {
  background-image: url('./assets/white.jpg');
  background-size: cover;
  background-position: bottom;
  transition: 0.4 ease;
}

.app.warm {
  background-image: url('./assets/black.jpg');
}

main {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.75));
  padding: 25px;
}

main .favoriteBtnsContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
margin-bottom: 20px;


}

main .singlFavoriteBtn{
 
  background-color: rgba(255, 255, 255, 0.274);
  border-radius: 16px;
  padding: 5px 5px;

  color: #FFF;
  font-size: 25px;
  font-weight: 800;

  /* text-shadow: 3px 6px rgba(50, 50, 70, 0.5); */
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

main .singlFavoriteBtn:hover {
  cursor: pointer;
}

.search-box {
  width: 100%;
  margin: 0 0 30px;
}

.search-box .search-bar {
  display: block;
  width: 100%;
  padding: 15px;

  appearance: none;
  background: none;
  border: none;
  outline: none;

  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 0px 0px 16px 16px;
  margin-top: -25px;

  box-shadow: 0px 5px rgba(0, 0, 0, 0.2);
  
  color: #313131;
  font-size: 20px;

  transition: 0.4s ease;
}

.search-box .search-bar:focus {
  background-color: rgba(255, 255, 255, 0.75);
}

.location-box .location {
  color: #FFF;
  font-size: 35px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  
  text-align: center;
  text-shadow: 3px 3px rgba(65, 65, 74, 0.5);
}

.location-box .date {
  color: #FFF;
  font-size: 25px;
  font-weight: 600;
  font-style: italic;
  text-align: center;
  text-shadow: 2px 2px rgba(50, 50, 70, 0.5);
}

.weather-box {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.weather-box .temp {
  position: relative;
  display: inline-block;
  margin: 30px auto;
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;

  padding: 15px 25px;

  color: #FFF;
  font-size: 102px;
  font-weight: 900;

  text-shadow: 3px 6px rgba(50, 50, 70, 0.5);
  text-align: center;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
}

.weather-box .tempIcon {
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
}

.weather-box .weather {
  color: #FFF;
  padding-bottom: 30px;
  font-size: 35px;
  font-weight: 900;
  text-shadow: 3px 3px rgba(50, 50, 70, 0.5);
}
.weather-box .fiveFavoriteCities{
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  margin: 10vw 0 0 0;
}

.weather-box .oneFavoriteCity{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  color: #FFF;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  max-width: 300px;
  min-width: 230px;
  padding: 15px;
  font-size: 20px;
  height: 350px;
}


.weather-box .fiveDaysForecast{
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  
}
.weather-box .oneDayForecast {
  color: #FFF;
  box-shadow: 3px 6px rgba(0, 0, 0, 0.2);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  max-width: 300px;
  padding: 20px;
}

@media screen and (max-width: 600px){
  .weather-box .fiveDaysForecast{
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 50px;
    width: 100%;
  }
  .weather-box .oneDayForecast {
   width: 150px;
   height: 140px;
   font-size:12px;
    max-width: 350px;
    padding: 10px;
    margin-top: 20px;
    margin: 6px;
  }
  .weather-box .oneDayForecast img{
width: auto;
height: 50px;
  }
  .weather-box .weather {
  margin-top: 20px;
  margin-bottom: 50px;
  }
  .weather-box .temp{
    font-size: 90px;
  }
  .weather-box .tempIcon{
    height: 90px;
  }
  main .singlFavoriteBtn{
    font-size: 15px;
    
  }
  .weather-box .fiveFavoriteCites{
    /* flex-direction: column; */

  }

  .weather-box .oneFavoriteCity{
    font-size: 20px;
    font-weight: 900px;
    margin: 15px;
    width: 300px;
  }

}
